<table>
    <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Description</th>
        <th>Category</th>
        <th>Photo</th>
    </tr>
    {{#each this}}
        <tr>
            <td><a href="/products/detailed/{{_id}}">{{name}}</a></td>
            <td>${{price}}</td>
            <td>{{description}}</td>
            <td>{{category}}</td>
            <td><img src={{photo}}></td>
            <td>
                <form method="post" action="/accounts/cart/{{_id}}">
                    <input type="submit" class="cartBtn" value="Add to cart">
                </form>  
            </td>
        </tr>
    {{/each}}    
</table>