<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
<div class="dropdown">
    <button class="dropbtn">Menu</button>
    <div class="dropdown-content">
    <a href="/">Home</a>
    <a href="/accounts/profile">My account</a>
    <a href="/chat">Chat</a>
    <a href="/accounts/logout">Log out</a>
    </div>
    <hr>


<div>
    <h1> Welcome, {{ data.user }}</h1>
</div>

</div>
<div>
    <table id="cart">
        <tr>
            <th>Product</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
        {{#each data.cart}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.description}}</td>
            <td>${{this.price}}</td>
            <td>
                <button onclick=window.location="/accounts/cart/{{this._id}}/remove">X</button>
            </td>
        </tr>
        {{/each}}   
        <tr>
            <td>Total: ${{data.total}}</td>
            <td>
                <button id="purchaseBtn">Purchase</button>
            </td>
        </tr> 
    </table>
</div>
<script>
    console.log($("#cart tr").length)
    let purchaseBtn = document.getElementById("purchaseBtn")
    purchaseBtn.addEventListener("click", () => {
        let cartLength = $("#cart tr").length 
        if(cartLength > 2) {
            alert("You have succesfuly queued a purchase! Confirmation will be sent to your mobile device.")
            window.location="/accounts/cart/purchase"
        }
        else {
            alert("You must first add items to the cart!")
        }
    })

</script>
<style>
        table, th, td {
        border:1px solid black;
        }

        body{
            background-color: #f0ced6;
        }
    /* Dropdown Button */
        .dropbtn {
        background-color: #ffffff;
        color: rgb(0, 0, 0);
        padding: 16px;
        font-size: 16px;
        border: none;
        }

        /* The container <div> - needed to position the dropdown content */
        .dropdown {
        position: relative;
        display: inline-block;
        }

        /* Dropdown Content (Hidden by Default) */
        .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        }

        /* Links inside the dropdown */
        .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {background-color: #ddd;}

        /* Show the dropdown menu on hover */
        .dropdown:hover .dropdown-content {display: block;}

        /* Change the background color of the dropdown button when the dropdown content is shown */
        .dropdown:hover .dropbtn {background-color: #eb7993;}
</style>