<section>
    <h1>Current settings:</h1>
    <p><b>Environment: </b>{{ data.environment }}</p>
    <p><b>Port: </b>{{ data.port }}</p>
    <p><b>DB connection string: </b>{{ data.dbConnectionString }}</p>
    <p><b>Mailer address: </b>{{ data.mailerAddress }}</p>
    <p><b>Sessions TTL: </b>{{ data.sessionTTL }}</p>
</section>
<style>
        body{
            background-color: #f0ced6;
        }
</style>