<style>
table, th, td {
  border:1px solid black;
}
img{
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>


<section>
<div>
    <button type="button" class="btnLogout">Log out</button>
    <h1> Welcome, {{data.name}}</h1>
</div>
</section>


<section class="input-productos">
    <hr>
    <h1>Create a product</h1>
    <form action="api/productos" method="post" target="dummyframe">
        <label for="nombre">Nombre:</label><br>
        <input type="text" id="nombre" name="nombre"><br><br>

        <label for="descripcion">Descripcion:</label><br>
        <input type="text" id="descripcion" name="descripcion"><br><br>

        <label for="precio">Precio:</label><br>
        <input type="number" id="precio" name="precio"><br><br>

        <label for="codigo">Codigo:</label><br>
        <input type="number" id="codigo" name="codigo"><br><br>

        <label for="stock">Stock:</label><br>
        <input type="number" id="stock" name="stock"><br><br>

        <label for="thumbnail">Thumbnail:</label><br>
        <input type="text" id="thumbnail" name="thumbnail"><br><br>

        <input class="submitProducto" type="submit" value="Submit">
    </form>
    <hr>
</section>



<section>
<h1>My products</h1>
{{#if data}}
<table>
    <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Image</th>
    </tr>
    {{#each data.products}}
    <tr>
        <td>{{this.nombre}}</td>
        <td>${{this.precio}}</td>
        <td><img src={{this.thumbnail}}></td>
    </tr>
    {{/each}}    
</table>
{{else}}
    <h2>No hay productos!</h2>
{{/if}}
</section>


<script defer>
    function logOut(){
        window.location = "/logout"
    }
    let logOutBtn = document.querySelector('.btnLogout')
    logOutBtn.addEventListener('click', logOut)
</script>