<section>
<div class="dropdown">
    <button class="dropbtn">Menu</button>
    <div class="dropdown-content">
    <a href="/">Home</a>
    <a href="/accounts/cart">My cart</a>
    <a href="/chat">Chat</a>
    <a href="/accounts/logout">Log out</a>
    </div>
    <hr>
            
</div>
<div>
    <h1> Welcome, {{ data.name }}</h1>
</div>
</section>

<section>
    <h2>My profile</h2>
    <p><b>My email: </b>{{ data.email }}</p>
    <p><b>My address: </b>{{ data.address }}</p>
    <p><b>My phone number: </b>{{ data.phone_number }}</p>
    <p><b>My age is: </b>{{ data.age }}</p>
    <img src="http://localhost:9000/{{ data.email }}.png" width="25%" height="25%">
</section> <br><br>

<section>
    <form id="profilePicSubmit" action="/accounts/uploadProfilePic" method="post" enctype="multipart/form-data">
    <label for="photo_url">Change my profile picture</label><br><br>
    <input id="profilePic" type="file" name="avatar" accept=".png,.jpg,.jpeg"><br>
    </form>
</section>

<script>
    document.getElementById("profilePic").onchange = function() {
    document.getElementById("profilePicSubmit").submit()
}
</script>

<style>
        body{
            background-color: #f0ced6;
        }
    /* Dropdown Button */
        .dropbtn {
        background-color: #ffffff;
        color: rgb(0, 0, 0);
        padding: 16px;
        font-size: 16px;
        border: none;
        }

        /* The container <div> - needed to position the dropdown content */
        .dropdown {
        position: relative;
        display: inline-block;
        }

        /* Dropdown Content (Hidden by Default) */
        .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        }

        /* Links inside the dropdown */
        .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {background-color: #ddd;}

        /* Show the dropdown menu on hover */
        .dropdown:hover .dropdown-content {display: block;}

        /* Change the background color of the dropdown button when the dropdown content is shown */
        .dropdown:hover .dropbtn {background-color: #eb7993;}
</style>